
/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* targets the html element body */
body {
	background-position: center; 
	background-image: linear-gradient(rgba(30,10,10,.50),rgba(0,20,50,.20)),url("../images/Brick1.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	font-family: Abel, sans-serif;
    height: 100vh;
	color: #f2f2f2
	; /* off white */
	margin: 15px;
}
/*end of body styling*/

h1 {
	font-size: 50px;
	background-color: #330; /*off black*/
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 3px;
	margin: 15px
}

h2 {
	color: rgba(0,0,200);
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 10px;
	background-color: gray;
	margin: 15px;
	border-radius: 10px;
	font-family:'Source Serif Pro', serif;
}


.bio {
	width: 500px;
	margin: 150px;
	color: black;
	font-family: 'Livvic', sans-serif;
	font-size: 18px;
	line-height: 1.75;
}

/* targets my image */
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: rgba(0,0,200);
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;

}
.container {
	width: 800px;
	text-align: center;
	margin: 0 auto;
}
